@media only screen and (max-width: 600px){

    header-section{
        & .center-div{
            top:0%; 
            transform: translate(0%, 20%);
        }
    }

    .teamInpshyt{
        & .row .content{
            padding-top: 300px;
        }
    }

    .problems {
        padding-bottom: 0px;
        & .background{
            position: relative;
        &::before{
            content: "";
            top: 0;
            left: 0;
            right:0;
            bottom:0;
            position: absolute;
            background-color: $primaryColor;
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(234,240,91,0.8939950980392157) 50%, rgba(236,198,62,1) 100%);
            opacity: 0.6;
        }
        }
            & .card-group{
                margin: 10px;
                padding: 10px;
                text-align: center;
                justify-content: center;
                width: 100%;
                height: auto;
                position: relative;
                z-index: 1;
               
                & .card{
                    margin: 10px;
                    box-shadow: 0px 1px 13px -2px rgba(0,0,0,0.75);
                }
            }
    }

}