@media only screen and (max-width: 600px){

    header-section{
        & .center-div{
            top:0%; 
            transform: translate(0%, 20%);
        }
    }

    .teamInpshyt{
        & .row .content{
            padding-top: 300px;
        }
    }

}